# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# folders created by ides
.idea
.vscode
.git

# due to using tox and pytest
.tox
.cache
#test.py
test2.py
paynow/*.pyc